extends layout

block content
    each w in workouts
        .workout.card
            h2 ID##{w.id} #{w.title}

            .workout-program
                each e in w.exercises
                    .exercise
                        .exercise-name
                            h3= e.title
                        .exercise-description
                            p= e.description
                        .exercise-sets
                            p Sets: #{e.sets}
                        .exercise-reps
                            p Reps/time: #{e.reps}

                .exercise.add-new-exercise
                    a(href="exercise")
                        h2 + Add exercise

    .add-workout.card
        a(href="workout")
            h2 + Create workout
